language: ruby
rvm:
  - 2.1.2

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y liblzma-dev

install:
  - curl -L https://www.opscode.com/chef/install.sh | sudo bash -s -- -P chefdk
  - chef exec bundle install
  - chef exec bundle exec berks install
script:
  - chef exec bundle exec rubocop .
  - chef exec bundle exec foodcritic -G .
  - chef exec bundle exec rubocop .
  - chef exec bundle exec rspec --format RspecJunitFormatter --out shippable/testresults/rspec.xml
